.intro {
    background-color: #013189;
}
p {
	margin: 0;
	padding: 0;
	font-size: 16px;
}
header > p {
    color: white;
}
span {
	display: flex;
	color: #506dac;
	font-size: 12px;
	text-align: center;
	margin: auto;
}
img {
	height: 12em;
	width: 8em;
	margin-bottom: 1em;
}
.escro {
    background-color: #fa5a10;
}
.escro:hover {
    color: #6cff00;
    text-decoration: none;
}
main {
    background-color: white;
    box-shadow: 0 20px 40px 0 lightgrey;
}
a {
    color: white;
}
a:hover {
    color: #fa5a10;
	text-decoration: none;
}
.sommaire {
	max-width: 45em;
	flex-wrap: wrap;
}
#info {
	margin-top: 0.2em;
    color: grey;
}
footer a {
    color: grey;
}
#mickey{
    position:absolute;
}
